fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aiomysql
PyYAML
httpx
trimesh
numpy 
jieba>=0.42.1
gensim>=4.3.0 
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
text2vec-base>=1.1.7
transformers>=4.30.0
sentence-transformers>=2.2.2 